body {
	background-color: darkred;
	background-image: url('banner.png');
	background-repeat: no-repeat;
	background-position: 99% 5%;
	color: white;
}
.SysInfo {
	word-spacing: 1em;
}
.SysInfo span {
        background-color: transparent;
        color: yellow;
}
.ButtonHandler {
	float: left;
}
.ThemeSelector {
	float: right;
}
