body {
	background-color: #2a0308;
	background-image: url('banner.png');
	background-repeat: no-repeat;
	background-position: 98% 2%;
	color: white;
}
.SysInfo {
	word-spacing: 0.25em;
}
.SysInfo span {
        background-color: transparent;
        color: yellow;
}
.ButtonHandler {
	float: left;
}
.ThemeSelector {
	float: right;
}
#logWindow {
	background-color: black;
	border: #0c0c0c 2px solid;
	font-size: smaller;
	height: 560px;
	overflow: auto;
	width: auto;
}
