body {
	background-color: black;
	background-image: url('banner.png');
	background-repeat: no-repeat;
	background-position: 99% 5%;
	color: white;
}
.SysInfo {
        word-spacing: 1em;
}
.SysInfo span {
	background-color: transparent;
	color: orange;
}
.ButtonHandler {
        float: left;
}
.ThemeSelector {
        float: right;
}
